@import url(https://fonts.googleapis.com/css?family=Chango);

/* LEFT - RIGHT */

@-webkit-keyframes FACE-ANIM-HOVER-LEFT-RIGHT {
  0%   { left: 0; }
  50%  { left: 50px; }
  100% { left: 0; }
}

@-moz-keyframes FACE-ANIM-HOVER-LEFT-RIGHT {
  0%   { left: 0; }
  50%  { left: 50px; }
  100% { left: 0; }
}

@keyframes FACE-ANIM-HOVER-LEFT-RIGHT {
  0%   { left: 0; }
  50%  { left: 50px; }
  100% { left: 0; }
}

/* UP AND DOWN */

@-webkit-keyframes FACE-ANIM-HOVER-UP-AND-DOWN {
  0%   { top: 0; }
  50%  { top: 50px; }
  100% { top: 0; }
}

@-moz-keyframes FACE-ANIM-HOVER-UP-AND-DOWN {
  0%   { top: 0; }
  50%  { top: 50px; }
  100% { top: 0; }
}

@keyframes FACE-ANIM-HOVER-UP-AND-DOWN {
  0%   { top: 0; }
  50%  { top: 50px; }
  100% { top: 0; }
}

/* FACE STYLES AND ANIMATIONS */

.face-holder {
  top: 0;
  left: 0;
  width: 450px;
  height: 450px;
  position: relative;
  margin: 0 auto;
  margin-top: 9%;
  -webkit-animation: FACE-ANIM-HOVER-LEFT-RIGHT 7s infinite; /* Safari 4+ */
  -moz-animation:    FACE-ANIM-HOVER-LEFT-RIGHT 7s infinite; /* Fx 5+ */
  -o-animation:      FACE-ANIM-HOVER-LEFT-RIGHT 7s infinite; /* Opera 12+ */
  animation:         FACE-ANIM-HOVER-LEFT-RIGHT 7s infinite; /* IE 10+, Fx 29+ */
  // background: rgba(255, 0, 0, 0.1);
}

.face {
  top: 0;
  left: 0;
  width: 450px;
  height: 450px;
  position: relative;
  margin: 0 auto;
  -webkit-animation: FACE-ANIM-HOVER-UP-AND-DOWN 11s infinite; /* Safari 4+ */
  -moz-animation:    FACE-ANIM-HOVER-UP-AND-DOWN 11s infinite; /* Fx 5+ */
  -o-animation:      FACE-ANIM-HOVER-UP-AND-DOWN 11s infinite; /* Opera 12+ */
  animation:         FACE-ANIM-HOVER-UP-AND-DOWN 11s infinite; /* IE 10+, Fx 29+ */
  // background: rgba(0, 0, 0, 0.1);
}

.face-shadow {
  width: 50px;
  height: 50px;
  margin-left: 175px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  bottom: 5%;
}

.face-item {
  margin: 0 auto;
  background: #000;
  width: 5px;
  height: 5px;
}

.brow {
  top: 20px;
  width: 75px;
  height: 20px;
  position: absolute;
  // background: #000;
}

.brow-left { 
  left: calc(225px - 75px - 30px);
  -ms-transform: rotate(-7deg);
  -webkit-transform: rotate(-7deg);
  transform: rotate(-7deg); 
}

.brow-right {
  left: calc(225px + 30px);
  -ms-transform: rotate(7deg);
  -webkit-transform: rotate(7deg);
  transform: rotate(7deg);
}

.eye { 
  position: absolute;
  top: 50px;
  margin: 0 auto;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  /* width and height can be anything, as long as they're equal */
  // transition: all 0.5s;
}

.eye-left {
  left: calc(225px - 75px - 30px);
}

.eye-right {
  left: calc(225px + 30px);
}

.eye-inner {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #FFF;
  margin: 0 auto;
  position: relative;
  transition: all 0.5s;
}

.eye-top          { top: 0; }
.eye-middle       { top: 12px; }
.eye-bottom       { top: 20px; }
.eye-rock-bottom  { top: 27px;}

.nose {
  position: relative;
  top: 100px;
  right: 10px;
  width: 0 !important;
  height: 0 !important;
  border-style: solid;
  background: none;
  border-width: 20px 20px 0 20px;
  border-color: #000000 transparent transparent transparent;
}

.mouth-piece {
  text-align: center;
  font-size: 100px;
  font-family: Chango, sans-serif;
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg); 
  color: black;
  background: transparent;
}

.mouth {
  // text-align: center;
  // position: relative;
  // width: auto;
  // height: auto;
  // display: block;
  // top: 125px;
  // margin: 0;
  // padding: 0;
  color: black;
  // position: relative;
  background: transparent;
  text-align: center;
}

.mouth .mouth-piece {
  text-align: center;
  font-size: 120px;
  font-weight: normal;
  font-family: sans-serif;
}

.moustache {
  width: 50px;
  height: 30px;
  color: black;
  background: transparent;
  text-align: center;
}