@import url(https://fonts.googleapis.com/css?family=Chango);

@-moz-keyframes BG-ANIM-COLOR {
  0%   { background: #ffc9b9ff; }
  50%  { background: #d9ffd2ff; }
  100% { background: #b8daffff; }
}

@-webkit-keyframes BG-ANIM-COLOR {
  0%   { background: #ffc9b9ff; }
  50%  { background: #d9ffd2ff; }
  100% { background: #b8daffff; }
}

@keyframes BG-ANIM-COLOR {
  0%   { background: #ffc9b9ff; }
  50%  { background: #d9ffd2ff; }
  100% { background: #b8daffff; }
}

html, body {
  // background: #7ddfcc;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.bg-anim-color {
  -webkit-animation: BG-ANIM-COLOR 15s infinite; /* Safari 4+ */
  -moz-animation:    BG-ANIM-COLOR 15s infinite; /* Fx 5+ */
  -o-animation:      BG-ANIM-COLOR 15s infinite; /* Opera 12+ */
  animation:         BG-ANIM-COLOR 15s infinite; /* IE 10+, Fx 29+ */
}

.page-container {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}