
.personalisation-colors {
  width: 400px;
  height: 100px;
  transition: all 1s;
}

.container {
  width: 400px;
  height: 100%;
  position: absolute;
  transition: all 1s;
}

/* ================= DEEZER ================== */
/* ================= DEEZER ================== */
/* ================= DEEZER ================== */

.deezer {
  
}

.deezer-color {
  width: 20%;
  height: 100%;
  margin: 0;
  padding: 0;
  float: left;
  transition: all 1s;
}

.deezer-color-1 {
  background: #ff2b2e;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.deezer-color-2 {
  background: #ffe00a;
}

.deezer-color-3 {
  background: #ff63b8;
}

.deezer-color-4 {
  background: #bfed7e;
}

.deezer-color-5 {
  background: #50d7ff;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

/* DEEZER BROW FIX */

.brows-deezer .brow-left {
  background: #ffe00a;
  transition: all 1s;
}

.brows-deezer .brow-right {
  background: #bfed7e;
  transition: all 1s;
}

/* DEEZER SPEECHBUBBLE */

.speechbubble-deezer .talkbubble {
  background: #ff63b8;
  opacity: 0.45;
}

.speechbubble-deezer .talkbubble:before {
  border-top: 13px solid transparent;
  border-right: 26px solid #ff63b8;
  border-bottom: 13px solid transparent;
}

/* ================= UBER ================== */
/* ================= UBER ================== */
/* ================= UBER ================== */

.uber {
  
}

.uber-color {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background: #000000;
}

.uber-text {
  color: #FFFFFF;
}

/* ================= TODOIST ================== */
/* ================= TODOIST ================== */
/* ================= TODOIST ================== */

.todoist {
  
}

.todoist-color {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background: #ff4e40;
  color: #e01e10;
}

/* TODOIST BROW FIX */

.brows-todoist .brow-left {
  background: #ff4e40;
  transition: all 1s;
}

.brows-todoist .brow-right {
  background: #ff4e40;
  transition: all 1s;
}

/* TODOIST SPEECHBUBBLE */

.speechbubble-todoist .talkbubble {
  background: #ff4e40;
  opacity: 0.45;
}

.speechbubble-todoist .talkbubble:before {
  border-top: 13px solid transparent;
  border-right: 26px solid #ff4e40;
  border-bottom: 13px solid transparent;
}

/* ================= TOON ================== */
/* ================= TOON ================== */
/* ================= TOON ================== */

.toon {
  
}

.toon-color {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background: #ff924c;
  color: #d96e22;
  position: absolute;
}

/* TOON BROW FIX */

.brows-toon .brow-left {
  background: #ff924c;
  transition: all 1s;
}

.brows-toon .brow-right {
  background: #ff924c;
  transition: all 1s;
}

/* TOON SPEECHBUBBLE */

.speechbubble-toon .talkbubble {
  background: #ff924c;
  opacity: 0.45;
}