
.talkbubble {
   position: relative;
   width: 350px;
   height: 220px;
   background: rgba(0, 0, 0, 0.45);
   -moz-border-radius:    10px;
   -webkit-border-radius: 10px;
   border-radius:         10px;
}

.talkbubble:before {
   content:"";
   position: absolute;
   right: 100%;
   top: 60px;
   width: 0;
   height: 0;
   border-top: 13px solid transparent;
   border-right: 26px solid rgba(0, 0, 0, 0.45);
   border-bottom: 13px solid transparent;
}